
.form-group {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.range__slider {
  width: 80%;
}
.range__slider [type="range"] {
 width: 100%;
 -webkit-appearance: none;
 height: 3px;
 border-radius: 6px;
 background: green;
 outline: none;
 padding: 0;
 margin: 0;
}

/* custom thumb */
.range__slider [type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none;
 appearance: none;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 background: green;
 border: #f9ca24 5px solid;
 cursor: pointer;
 -webkit-transition: background .15s ease-in-out;
 transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-webkit-slider-thumb:hover {
 background: #f0932b;
}

.range__slider [type="range"]::-moz-range-thumb {
 width: 20px;
 height: 20px;
 border: 0;
 border-radius: 50%;
 background: green;
 border: #f9ca24 5px solid; cursor: pointer;
 -webkit-transition: background .15s ease-in-out;
 transition: background .15s ease-in-out;
}

.range__slider [type="range"]::-moz-range-thumb:hover {
 background: #f9ca24;
}

/* remove border */
input::-moz-focus-inner, input::-moz-focus-outer {
 border: 0;
}
